@import "../../app.scss";

.services {
  background: #050505 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      text-align: center;
      flex-direction: column;
      flex: none;
    }
  }

  .textMessage {
    margin-top: 60px;
    font-weight: 200;
    font-size: 17px;
    color: gray;
    text-align: right;

    @include mobile {
      margin-top: 10px;
    }
  }

  hr {
    margin-top: 60px;
    width: 230px;
    border: none;
    border-top: 0.5px solid gray;

    @include mobile {
      display: none;
    }
  }
  .titleContainer {
    margin-top: 30px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
      margin-top: 10px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 250px;
        height: 80px;
        border-radius: 50px;
        object-fit: cover;
      }

      h1 {
        font-size: 50px;
        //font-weight: 900;

        @include mobile {
          font-size: 30px;
        }
      }

      button {
        width: 250px;
        height: 60px;
        border-radius: 50px;
        background-color: rgb(3, 110, 253);
        border: none;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1066px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 20px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 280px;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
        height: 100px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}

.icon-services {
  color: rgb(3, 110, 253);
  text-align: center;
}

.title-service {
  text-align: center;
}
