@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1066px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include mobile {
      text-align: center;
      align-items: center;
    }

    h1 {
      font-size: 60px;
      margin-bottom: 70px;

      @include mobile {
        font-size: 35px;
      }
    }

    h2 {
      color: rgb(3, 110, 253);
    }

    .rede-sociais {
      display: flex;
      justify-content: space-between;
      width: 250px;
    }

    .sociais {
      margin-top: 40px;
    }

    p {
      margin-top: 20px;
      font-size: 20px;

      @include mobile {
        font-size: 15px;
      }
    }

    span {
      font-weight: 300;
    }
  }
}

.info-contact {
  display: flex;

  @include mobile {
    justify-content: center;
  }

  span {
    margin-top: 18px;

    @include mobile {
      margin-top: 15px;
    }
  }
}

.formContainer {
  flex: 1;

  @include mobile {
    padding: 20px;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      padding: 20px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      border-radius: 5px;

      @include mobile {
        padding: 10px;
      }
    }

    button {
      padding: 20px;
      border: none;
      background-color: rgb(3, 110, 253);
      cursor: pointer;
      font-weight: 500;

      @include mobile {
        padding: 10px;
      }
    }
  }
}

.icon-contact {
  color: rgb(3, 110, 253);
  margin-right: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
